In [132]:
import pandas as pd
import os

DATA_DIR = os.path.abspath("")

path_to_data_raw = os.path.join(DATA_DIR, r"data_raw\ufo_sightings_scrubbed.csv")

ufo_df = pd.read_csv(path_to_data_raw, dtype=str)

In [133]:
ufo_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.9411111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.6458333
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.8036111
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.1658333,-86.7844444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.6136111,-116.2025
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,2013-09-30,38.2972222,-122.2844444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.9011111,-77.2655556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.6527778,-97.4777778

In [134]:
# Spaltennamen neusetzen:
ufo_df.columns = ['datetime', 'city', 'state', 'country', 'shape', 'duration_seconds',            # einige spalten hatten leerzeichen und andere "unsichtbare" zeichen
       'duration_hour_min', 'comments', 'date_posted', 'latitude',
       'longitude']

In [136]:
# Spalte duration_seconds bereinigen und von string nach numeric wandeln:
ufo_df["duration_seconds"] = ufo_df["duration_seconds"].str.replace(r"\D", "", regex = True) # nicht Zahlen entfernen . z.b. '2Â´'
ufo_df["duration_seconds"] = pd.to_numeric(ufo_df["duration_seconds"])      # HIER GEHEN ZAHLEN VERLOREN AB ZEILE 65535, wenn die csv oben nicht als dtype str eingelesen wurde
ufo_df["duration_seconds"].dtype

dtype('int64')

In [138]:
# Spalte latitude und longitude bereinigen:
ufo_df["latitude"]  = ufo_df["latitude"].str.replace(r"[^\d.-]", "", regex = True)
ufo_df["latitude"]  = pd.to_numeric(ufo_df["latitude"])              # HIER GEHEN ZAHLEN VERLOREN AB ZEILE 65535, wenn die csv oben nicht als dtype str eingelesen wurde
ufo_df["longitude"] = pd.to_numeric(ufo_df["longitude"])
print(ufo_df["latitude"].dtype, ufo_df["longitude"].dtype)

float64 float64

In [ ]:
# Die beiden Spalten mit Datums hatten keine Probleme

In [139]:
# Abspeichern als neue csv in data\data_clean
path_to_data_clean = os.path.join(DATA_DIR, r"data_clean\ufo_sightings_scrubbed_clean.csv")

ufo_df.to_csv(path_to_data_clean)

ufo_clean_df = pd.read_csv(path_to_data_clean)
ufo_clean_df.dtypes

Unnamed: 0             int64
datetime              object
city                  object
state                 object
country               object
shape                 object
duration_seconds       int64
duration_hour_min     object
comments              object
date_posted           object
latitude             float64
longitude            float64
dtype: object